<?xml version="1.0" ?>
<model>
  <name>rover_blue</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>David Ruddell</name>
    <email>your@email.com</email>
  </author>
  <description>
    A blue differential drive rover with a caster wheel.
  </description>
</model>
